.parent
{
  background-color:rgb(35, 88, 119);
  width: 350px;
  height: 450px;
  margin-bottom: 100px;
  border: 4px solid rgb(35, 88, 119);
  margin: 20px;
  float: left;
  margin-left: 80px;
  text-align: center;
  color:rgb(236, 227, 234);
  border-radius: 5px;
}

#card-img
{
  width: 100%;
  height: 280px;
 
}

#card-date,#card-type
{
  font-size: 20px;
}